

:root {
	--pale:#f3f0f8;
	--sunray: #DBBA4D;
	--sepia: #713D10;
	--chinese-black: #0f121a;
	--detalhes: #483561;

	--roboto: 'Roboto', sans-serif;
	--roboto-mono: 'Roboto Mono', monospace;
	--josefin: 'Josefin Sans', sans-serif;
	
}


body {
	/* background: linear-gradient(236.85deg, #0f121a 27.26%, #0b1c36 96.03%); */
	background-color: var(--pale);
	font-family: var(--roboto-mono);
	padding: 3rem 4rem;
}
.container {
	color: #1C1C1C;
	background: #00000011;
	/* box-shadow: 6px 6px 6px #0E1D2F; */
	border-radius: 12px;
	padding: 2rem 4rem 4rem 4rem;
}
.header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 1rem;	
}
.header-texto {
	display: flex;
	flex-direction: column;
	justify-content: center;
	
}
.header-texto h1 {
	font-family: var(--josefin);
	font-weight: 300;
	font-size: 64px;
	margin: 1rem 0;
}
.header-texto h2 {
	font-weight: 400;
	font-size: 20px;
	
	padding-left: 0.25rem;
}
.contato {
	display: flex;
	padding: 5rem 0 0 0;
}
.contato-box {
	padding: 00.25rem;
	border: 2px solid var(--pale);
	border-radius: 8px;
	margin-right: 1rem;
	display: flex;
	justify-content: center;
	background-color: var(--pale);
}
.contato-box:hover {
	border: 2px solid var(--detalhes);
}
.link-contato {
	text-decoration: none;
	padding: .25rem;
}
.icon-contato {
	width: 1.7rem;
	
}
.btnTema {
	align-self: flex-start;
	padding: 0.5rem 1rem;
	box-sizing: border-box;
	border-radius: 20px;
	font-family: var(--roboto-mono);
	font-size: 18px;
	background: var(--pale);
	border: 2px solid var(--detalhes);
	color: var(--detalhes);
}
.btnTema:hover {
	background: var(--detalhes);
	
	color: var(--pale);
	
}


main {
	display: flex;
	justify-content: space-between;
}

.section {
	display: flex;
	flex-direction: column;	
	padding: 1.5rem 3rem;
	background-color: var(--pale);
	border-radius: 12px;
}
.section h3 {
	font-size: 24px;
	font-weight: 700;
	margin: 1rem 0 .5rem 0;
}
.projetos {
	width: 100%;
	margin-right: 1.5rem;
	
}
.projetos-lista{
	list-style: none;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	
}
.projetos-item{
	padding: 1rem 0;
	font-size: 28px;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 47%;
}
iframe {
	width: 100%;
	height: 15rem;
	border-radius: 8px;
}
iframe:hover {
	opacity: 1;
}
.projetos a {
	text-decoration: none;
	font-size: 14px;
	color: var(--detalhes);
	align-self: flex-end;
	box-sizing: border-box;
	border: 2px solid var(--detalhes);
	border-radius: 20px;
	margin-top: 0.5rem;
	padding: 0.5rem;
	width: 100%;
	text-align: center;
}
.projetos a:hover {
	color: var(--pale);
	background-color: var(--detalhes);
}

.conquistas {
	width: 15%;
	padding: 1.5rem 2rem;
}
.conquistas-lista {
	list-style: none;
	display: flex;
	flex-direction: column;

}
.conquistas-item {
	display: flex;
	justify-content: center;
	padding: 1.5rem 0;
}
.conquistas-item img {
	width: 60%;
}




/* Dark theme */
.dark {
	background: linear-gradient(236.85deg, #010002 37.26%, #0b0114 96.03%);
}
.dark .container {
	background: #3b3a3d;
	color: var(--pale);
}
.dark .header-texto {
	color: #F6F6F6;

}
.dark .btnTema {
	background: #161516;
	border: 2px solid #161516;
	color: var(--pale);
}
.dark .btnTema:hover {
	background: var(--pale);
	color: #161516;
}
.dark .section {
	background-color: #161516;
}
.dark .projetos a {
	border: 2px solid var(--pale);
	color: var(--pale);
}
.dark .projetos a:hover {
	color: #161516;
	background-color: var(--pale);
	border: 2px solid var(--pale);
}
.dark .contato-box {
	background: #3b3a3d;
	border: 2px solid #161516;
}
.dark .contato-box:hover {
	background-color: var(--pale);
}





